@font-face { src: url("../fonts/BubblegumSans-Regular.ttf"); font-family: Bubblegum Sans;}


#googleMap {
  height: 400px;
  margin-top: 30px;
  margin-bottom: 1%;
  width: 60vw;
  margin-inline-start: 20vw;
}
.col-6 #contacta_nosotros {text-align: center;}
.form {
  padding: 0 15.2rem;
}

.form .form-row {
  padding: 0.8rem;
}

input {
  padding: 0.5rem;
  border: 0.1rem solid #ccc;
}

button[type="submit"] {
  background-color: #4caf50;
  padding: 1rem 4rem;
  border: none;
  color: white;
  border-radius: 0;
  cursor: pointer;
}

button[disabled] {
  opacity: 0.5;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tbody {
  background-color: #ffffff;
  color: black;
}

thead > tr {
  background-color: #f5f5f5;
  color: black;
}

th {
  height: 50px;
}


td {
  padding: 0.5rem;
  border-bottom: 0.1rem solid #ddd;
}

td:nth-child(2) {
  text-align: right;
}

tbody > tr:hover {
  background-color: #dedddd;
}

