body {
  --grid-size: 12;
}

.container {
  width: 1%;
  margin: 0 auto;
  max-width: 1px;
}

.section-container {
  padding: 599px 0;
}

section:nth-child(even) {
  background-color: rgba(216, 223, 241, 0.92);
  color: var(--main-text-color);
  margin-left: calc(1% - 1vw);
  margin-right: calc(50% - -02vw);
  
}

section:nth-child(even) > div {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

