@font-face{ src: url("../fonts/BubblegumSans-Regular.ttf"); font-family: Bubblegum Sans;}

* {
  margin: 0;
  padding: 0;
  border: 0;
  
}
html, body {
      width: 100%;
      min-height: 100%;
      height: auto !important;
      height: 100%;
      background-color:#b2b2b2;
}
       
body {font-family: 'Bubblegum Sans', cursive;}
img.portadaimagen{width:100%; height:400px; margin-top:-55px; } /*imagen principal*/
.header_image img{position:absolute; width:200px; margin-left:-540px; margin-top:-264px; padding-top: 220px;  border-radius: 990%;} /*colocacion logo vertical imagen*/

#menu{z-index:1;font-size:0px;width:100%;height:50px; background: rgb(76,76,76); /* menu */
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); padding-top:20px; text-align:center; min-width:900px;} /*fixed.anchura, largura menu*/
#menu a{font-family:arial; font-size:1.2rem; color:white; text-decoration:none; margin-left:10px; margin-right:30px;} /*colocacion letras menu*/
.navbar_menu > .navbar_list > .navbar_item--active a {transition: all 0.3s linear; background-color: green; border-radius:100%;} /*sombreado menu*/
.navbar_menu > .navbar_list > .navbar_item a:hover {background-color: #b2b2b2;  border-radius:55%;} /*sombreado pasar raton menu*/
nav{position:fixed;top:0;} /*posicion menu al hacer scroll*/
.margen{margin-top:50px;}
section #text_name {animation: ciclo_1 5s linear infinite; padding-left:28%;}
@keyframes ciclo_1 {
0%  { opacity:0; }
5%  { opacity:1; }
20% { opacity:1; }
25% { opacity:0; }
100% { opacity:1; }
}

.contenido{width:100%vw; margin-top:50px; padding: 100%vw;}  /*principio contendio*/
#text_name {position: absolute; color:green; font-size: 80px; margin-top:90px;} /*Titulo nombre*/
#text_name >.texto_nombre:hover {transform: scale(1.3,1.3,1.3);} /*titulo cv*/
#text_name span {font-size:50%; margin: 20%; color:whitesmoke;}
#text_info {font-size:1.2rem; color:white; float:right; width:555px; padding-right:65px; padding-top: 255px;} /*quiensoy*/
.contenido_study header {text-align: center; font-size: 1.5rem; color:green; margin-bottom:20px; }
.contenido_study div { font-size:1.1rem; }
.contenido_study{height:400px; margin-top:116px;border:33px solid #b2b2b2; padding:47px; border-radius:20%;}/*1 contenido*/
.experience{height:400px; margin-top:-30px; border:30px solid #b2b2b2; padding:47px; border-radius:20%;}/*2 contenido*/
.experience header {height:60px; color:green;}
.experience div {padding-top:43px; padding-left:0%; text-align: center; font-size:1.5rem;}
.about-me{ margin-left:25vw; padding-top:5%; padding-bottom: 10%;} /*3 contenido*/
.footer {background-color:#2b2b2b; color: white; height: 50px; text-align: center; padding-top:20px;}